<h1>Selecionar Paciente</h1>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Data nasc</th>
    <th></th>
  </tr>

  <% @patients.each do |patient| %>
  <tr>
    <td><%= patient.nome %></td>
    <td><%= patient.cpf %></td>
    <td><%= patient.data_nasc %></td>
    <td><%= link_to 'Selecionar', "home/#{patient.id}" %></td>
  </tr>
  <% end %>
</table>

<br />
