<h1> Configurações de Login </h1>

<%= form_tag :class => 'form-signin' do %>
	
	<input name="nome" type="text" placeholder="Nome" class=""> <br>
	<input name="usuario" type="text" placeholder="usuario" class=""><br>
	<input name="senha" type="password" placeholder="senha" class=""><br>
	<button type="submit" class="btn btn-large btn-primary">Alterar</button>

<% end %>   