<p id="notice"><%= notice %></p>

	<h3>Pacientes Indicados a Desmame</h3>
	<div>
		<table class="table table-striped">
		  <tr>
		    <th>Paciente</th>
		    <th>Data Ultima Avaliação</th>
		    <th>Hora</th>
		    <th>Pontos</th>
		    <th>Operação</th>
		  </tr>

		  <tr>
		  	<td>Sicrano de tal</td>
		    <td>10/01/2007</td>
		    <td>13:14</td>
		    <td>130</td>
		    <td>Glasglow</td>
		  </tr>
		  <tr>
		  	<td>Fulano</td>
		    <td>10/01/2007</td>
		    <td>13:18</td>
		    <td>130</td>
		    <td>IMC</td>
		  </tr>
		</table>
	</div>

	<h3>Ultimos Atendimentos Realizados na UTI</h3>
	<div>
		<table class="table table-striped">
		  <tr>
		    <th>Operação</th>
		    <th>Paciente</th>
		    <th>Fisioterapeuta</th>
		    <th>Data</th>
		    <th>Hora</th>
		  </tr>

		  <tr>
		    <td>Glasglow</td>
		    <td>Sicrano de tal</td>
		    <td>yyyyyyyyyyyyyy</td>
		    <td>10/01/2007</td>
		    <td>13:14</td>
		  </tr>
		  <tr>
		    <td>IMC</td>
		    <td>Fulano</td>
		    <td>qqqqqqqqqqqqq</td>
		    <td>10/01/2007</td>
		    <td>13:18</td>
		  </tr>
		</table>
	</div>

	<h3>Atendimentos Realizados por você</h3>
	<div>
		<table class="table table-striped">
		  <tr>
		    <th>Operação <i class="icon-circle-arrow-down"></th>
		    <th>Paciente <i class="icon-circle-arrow-down"></th>
		    <th>Data <i class="icon-circle-arrow-down"></th>
		    <th>Hora <i class="icon-circle-arrow-down"></th>
		  </tr>

		  <tr>
		    <td>Glasglow</td>
		    <td>Sicrano de tal</td>
		    <td>10/01/2007</td>
		    <td>13:14</td>
		  </tr>
		  <tr>
		    <td>IMC</td>
		    <td>Fulano</td>
		    <td>10/01/2007</td>
		    <td>13:18</td>
		  </tr>
		</table>
	</div>

</p>
