<h3>Variaveis</h3>

<table class="table">
  <tr>
    <th>Descrição</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% variables.each do |variable| %>
  <tr>
    <td><%= variable.description %></td>
    <% if variable.tipo == 0 %>
    <td>Opção</td>
    <% else %>
    <td>Faixa </td>
    <% end %>
    <td><%= link_to 'Detalhes', variable , :class => "btn btn-primary"%></td>
    <td><%= link_to 'Editar', edit_variable_path(variable), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Excluir', variable, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

