<h1>Relatorios</h1>
<h2>Estatistica da UTI</h2>

<table class="table">
  
  <tr>
    <th>Total Pacientes Atendidos</th>
    <th>Total Desmames com Sucesso</th>
    <th>Total de Reintubações </th>
  </tr>

  <tr>
    <td>100</td>
    <td>60</td>
    <td>40</td>
  </tr>

</table>