<h1>Relatorios</h1>
<h2>Pacientes indicados a desmame</h2>
<table class="table">
  <tr>
    <th>Nome Paciente</th>
    <th>Data de Entrada Ventilação Mecanica</th>
  </tr>


  <tr>
    <td>Joaquim Barbosa</td>
    <td>11/10/2001</td>
  </tr>

  <tr>
    <td>Joaquim Barbosa</td>
    <td>11/10/2001</td>
  </tr>

  <tr>
    <td>Joaquim Barbosa</td>
    <td>11/10/2001</td>
  </tr>

  <tr>
    <td>Joaquim Barbosa</td>
    <td>11/10/2001</td>
  </tr>



</table>